.footer-section {
    @apply relative overflow-hidden bg-linear-to-br from-gray-200 via-slate-200 to-gray-200;
}

.footer-text {
    @apply text-sm lg:text-base mb-0 leading-relaxed;
}

.footer-social {
    @apply flex gap-3 m-0;
}