.gallery-container {
    width: 100%;
    padding: 1em;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-header {
    text-align: center;
    margin: 2em 0 4em;
}

.gallery-header h2 {
    font-size: 2em;
    font-weight: bold;
}

.gallery-header p {
    font-size: 1em;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
}

.masonry-grid {
    display: flex;
    margin-left: -1em;
    width: 60vw;
}

.masonry-grid_column {
    padding-left: 1em;
    background-clip: padding-box;
}

.masonry-item {
    margin-bottom: 1em;
    break-inside: avoid;
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;

    border-radius: .8em;
    object-fit: contain;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.masonry-item img:hover {
    transform: scale(1.03);
    box-shadow: 0 .6em 1.25em rgba(0, 0, 0, 0.15);
}