.gallery-section{
    .description-wrap{
        p{
            @apply w-9/12 mx-auto;
        }
    }
}

.masonry-grid {
    display: flex;
    margin-left: -1em;
}

.masonry-grid_column {
    padding-left: 1em;
    background-clip: padding-box;
}

.masonry-item {
    margin-bottom: 1em;
    break-inside: avoid;
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;

    border-radius: .8em;
    object-fit: contain;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.masonry-item img:hover {
    transform: scale(1.03);
    box-shadow: 0 .6em 1.25em rgba(0, 0, 0, 0.15);
}